    <div class="mb-4">
        <div class="btn-group" role="group">
            <a href="{{path('app_admin')}}" class="btn btn-outline-primary">Tableau de bord</a>
            <a href="{{path('app_admin_users')}}" class="btn btn-outline-primary">Gestion des utilisateurs</a>
            <a href="{{ path('app_home') }}" class="btn btn-outline-secondary">Retour au site</a>
        </div>
    </div>